@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000');


.cart{
    font-weight: bold;
    color: #1e1e1e;
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 999;
    background-color: #FFF8E9;
    /* max-width: 800px; */
    width: 600px;
    min-width: 400px;
    margin: auto;
    border: 1px solid;
    padding: 10px 3rem;
    height: 100vh;
    box-sizing: border-box;
    overflow: scroll;

}
@media (max-width:800px) {
    .cart{
        width: 100%;

    }
}
.cart-title{
    text-align: center;
    font-size: 26px;
    margin: auto;
    margin-bottom: 30px;
}
.progressBar{
    /* min-width: 320px; */
    text-align: center;
    padding: 10px 2rem 20px 2rem;
    border: 1px solid green;
}
#progress-bar{
    width: 100%;
    height:8px;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid;
    border-radius: 20px;
}

#progress-bar::-webkit-progress-bar {
    background-color: transparent;
  }
  #progress-bar::-webkit-progress-value {
    background-color: green;
  }
.progress-bar-section{
    display: flex;
    align-items: center;
    gap: 10px;
}

.points-extra-info{
    font-family: "Nunito", sans-serif;
    text-align: center;
    padding: 10px 0;
    font-weight: 600;
}

.product-cart{
    margin-top: 40px;
    max-height: 58vh;
    overflow: scroll;
    border-top: 1px solid#1e1e1e;
    border-bottom: 1px solid#1e1e1e;
}

.cart::-webkit-scrollbar, .product-cart::-webkit-scrollbar{
    background: transparent;
    width: 1px;
}

.cart::-webkit-scrollbar-thumb, .product-cart::-webkit-scrollbar-thumb {
    background: #1e1e1e;  
    border-radius: 10px;  
}

.signCart{
    margin-top: 20px;
    font-family: "Nunito", sans-serif;


}
.total-cart-value{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.item-count{
    display: flex;
    gap: 10px;
    align-items: center;
}
.subtotal-text{
    font-size: 20px;
    font-weight: 900;
}
.checkout-button{
    margin-top: 20px;
    font-family: "Nunito", sans-serif;
    width: 100%;
}
.hover-effect{
    padding: 5px;

}
.hover-effect:hover{
    background-color: #e0dbcf;
}
.mayLike-text{
    margin: 30px 0;
    text-align: center;
    font-size: 22px;

}
.recommend-cards{
    display: flex;
    flex-wrap: wrap;
}
.recommend-cards>div{
    width: 200px;
    /* height: 400px; */
}