@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=PT+Mono&display=swap');

.checkout{
    padding: 30px;
}
.checkout>div{
    display: flex;
}
.checkout-title{
    font-family: "PT Mono", monospace;
    font-size: 40px;
    font-weight: 900;
    margin-left: 40px;
}
.your-cart{
    font-family: "PT Mono", monospace;
    font-weight: bold;
    color: #1e1e1e;
 
    /* max-width: 800px; */
    width: 4%;
    min-width: 500px;
    margin: auto;
    border: 1px solid;
    padding: 20px 3rem;
  
    box-sizing: border-box;
  
}
.checkout-total{
    margin: 20px 0;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid ;
}
.checkout-total>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.checkout-info{
    width: 70%;
    padding: 40px;
    box-sizing: border-box;
}