* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#landing_page_header {
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
  position: relative;
}

.landing_page_header_logo_parent {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.landing_page_header_logo {
  width: 100%;
  height: 100%;
}

.landing_page_header_search_parent_parent {
  display: grid;
  grid-template-columns: 65% 20%;
  justify-content: space-between;
}

.landing_page_header_search {
  width: 80%;
  font-size: 1.2rem;
  padding: 1.1vh 1vw;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
  box-shadow: 2px 5px 8px 1px rgba(0, 0, 0, 0.2);
}

.landing_page_header_search_btn {
  width: 20%;
  border-style: none;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 0.6vh 1vw;
  box-shadow: 2px 5px 8px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  background-color: #f44336;
  color: white;
}
.landing_page_header_search_btn:hover{
  background-color: red;
}

.landing_page_header_icons {
  display: flex;
  justify-content: flex-end;
  column-gap: 1vw;
}

.landing_page_header_login,
.landing_page_header_fav,
.landing_page_header_cart {
  color: green;
  border-radius: 5px;
  font-size: 2rem;
}

.landing_page_header_cart:hover,
.landing_page_header_login:hover,
.landing_page_header_fav:hover {
  transform: scale3d(1.3, 1.3, 1.3);
}

.landing_page_header_cart:active,
.landing_page_header_login:active,
.landing_page_header_fav:active {
  color: rgb(141, 141, 215);
}

.landing_page_header_icons_children {
  font-size: 1.5rem;
}

.landing_page_header_search_btn:active {
  background-color: rgb(141, 141, 215);
  color: white;
}

@media screen and (max-width: 431px) {
  #landing_page_header {
    grid-template-columns: 1fr;
    height: auto;
  }

  .landing_page_header_search_parent_parent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .landing_page_header_search_parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1vh;
  }

  .landing_page_header_search {
    width: 100%;
    font-size: 1.1rem;
    padding: 1.1vh 1vw;
  }

  .landing_page_header_search_btn {
    width: 100%;
    font-size: 1.1rem;
    padding: 1.1vh 1vw;
    margin-top: 1vh;
  }

  .landing_page_header_logo_parent {
    width: 40%;
    margin-left: 0.5rem;
  }

  .landing_page_header_icons {
    position: absolute;
    top: 1vh;
    right: 5vw;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 432px) and (max-width: 1024px) {
  #landing_page_header {
    grid-template-columns: 1fr;
    height: auto;
  }

  .landing_page_header_search_parent_parent {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
  }

  .landing_page_header_search_parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
  }

  .landing_page_header_search {
    width: 100%;
    font-size: 1.1rem;
    padding: 1.1vh 1vw;
    border-radius: 10px;
  }

  .landing_page_header_search_btn {
    width: 100%;
    font-size: 1.1rem;
    padding: 1.1vh 1vw;
    margin-top: 1vh;
  }

  .landing_page_header_logo_parent {
    width: 40%;
    margin-left: 0.5rem;
  }

  .landing_page_header_icons {
    position: absolute;
    top: 2vh;
    right: 5vw;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1025px) {
  #landing_page_header {
    grid-template-columns: 25% 75%;
    align-items: center;
    width: 100%;
  }

  .landing_page_header_logo_parent {
    width: 40%;
  }

  .landing_page_header_icons {
    position: absolute;
    top: 2vh;
    right: 1vw;
    font-size: 1.1rem;
    column-gap: 1.5vw;
  }
}

.landing_page_header_icons_login_dropdown {
  position: absolute;
  display: none;
}

.landing_page_header_login:hover .landing_page_header_icons_login_dropdown {
  display: inline-block;
}

.landing_page_header_icons_login_dropdown {
  font-size: 0.8rem;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  width: 7vw;
  right: 0.1vw;
  box-shadow: 2px 5px 8px 1px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.landing_page_header_icons_login_dropdown_children {
  column-gap: 1vw;
  display: flex;
  text-align: center;
  flex-direction: column;
  row-gap: 1vh;
  padding: 1vh;
  border-radius: 10px;
}

.landing_page_header_icons_login_dropdown_children p:hover{
  background-color: rgb(149, 138, 138);
  color: white;
  border-radius: 5px;
}
