@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#landing_page_dashboard {
  font-family: "PT Mono", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: #fff8e9;
  max-width: 1600px;
  margin: 0 auto;
}
