* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#landing_page_what_would_you_like,
#landing_page_set_and_gifts {
  width: 80%;
  margin: 7vh auto;
}

.what_would_you_like_title,
.set_and_gifts_title {
  font-size: 2rem;
  font-weight: bold;
}

.what_would_you_like_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  margin-top: 4vh;
  gap: 3vw;
}

.what_would_you_like_cards_children {
  border-radius: 10px;
  box-shadow: 2px 5px 6px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.what_would_you_like_cards_img,
.set_and_gifts_cards_img {
  width: 100%;
  height: 100%;
}

.what_would_you_like_cards_title {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 2vh;
}

.what_would_you_like_cards_children:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}

@media screen and (max-width: 431px) {
  .what_would_you_like_title {
    font-size: 1.3rem;
  }

  .what_would_you_like_cards {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4vh;
  }

  .what_would_you_like_cards_children {
    width: 100%;
    height: auto;
  }

  .what_would_you_like_cards_title {
    font-size: 0.5rem;
  }
}


 @media screen and (min-width: 432px) and (max-width: 1024px) {
  .what_would_you_like_cards_children {
    width: 80%;
  }

  .what_would_you_like_title {
    font-size: 1.6rem;
  }

  .what_would_you_like_cards {
    gap: 4vh;
    grid-template-columns: repeat(2, 1fr);
  }

  .what_would_you_like_cards_title {
    font-size: 1.1rem;
  }
}

 @media screen and (min-width: 1025px) {
  .what_would_you_like_title {
    font-size: 1.8rem;
  }

  .what_would_you_like_cards {
    gap: 2vw;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
  }

  .what_would_you_like_cards_title {
    font-size: 1.2rem;
    gap: 6vh;
  }
} 

/* --------------- Set's and Gifts------------- */

.set_and_gifts_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  margin-top: 4vh;
  gap: 3vw;
}

.set_and_gifts_cards_img_parent {
  height: 80%;
}

.set_and_gifts_cards_img {
  border-radius: 10px;
}

.set_and_gifts_cards_title {
  margin: 2vh 0 0 1vw;
  font-size: 1.3rem;
  font-weight: bold;
}

.set_and_gifts_cards_children {
  transition: transform 0.3s ease-in-out;
}


.set_and_gifts_cards_children:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}


@media screen and (max-width: 431px) {
  .set_and_gifts_cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 1vh;
  }

  .set_and_gifts_cards_children {
    width: 90%;
  }

}

 @media screen and (min-width: 432px) and (max-width: 1024px) {
  .set_and_gifts_cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1vh;
  }

  .set_and_gifts_cards_children {
    width: 60%;
  }

}



@media  screen and (min-width: 1025px) {
  .set_and_gifts_cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 1vh;
  }

  .set_and_gifts_cards_children {
    width: 80%;
  }

}
