@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Overpass:ital,wght@0,100..900;1,100..900&family=PT+Mono&display=swap');

.product-suggestion-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

.product-suggestion-header > h1 {
    font-family: "PT Mono", monospace;
    font-size: 25px;
    font-weight: 700;
}
.product-suggestion-header > h4 {
    font-family: "PT Mono", monospace;
    font-weight: 100;
    margin-right: 30px;
}

.product-suggestion-on-productpage{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}
.product-suggestion-on-productpage>div{
    width: 330px;
}

.view-all-button{
    font-family: "PT Mono", monospace;
    border: 1.5px solid;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin: auto;
    margin-top: 20px;
    padding: 5px 20px 5px 20px;
}   