@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Overpass:ital,wght@0,100..900;1,100..900&family=PT+Mono&display=swap');
.product-card-container{
  border: 2px solid rgb(143, 142, 142);
  width: 18%;
  background-color: #FFF8E9;
  padding: 20px;
}
.product-top-section{
  display: flex;

  justify-content: space-between;
}
.product-rating{
  margin: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.product-code{
  font-size: 14px;
  color: rgb(139, 137, 137);
  margin-top: 7px;
}
.product-icon{
  margin-right: 10px;
}
.legal-icon {
  font-size: 18px;
  margin-right: 15px;
  color: rgb(53, 53, 53);
}
.heart-icon{
  font-size: 18px;
  color: rgb(53, 53, 53);
}
.product-image {
  width: 100%;
  height: 30vh;
}
.product-desc{
 margin-top: 20px;
 margin-bottom: 10px;
}
.product-desc{
  font-family: "PT Mono", monospace;
  font-size: 18px;
}
.product-country{
  display: flex;
  align-items: center;
  gap: 25px;
  font-family: "Montserrat", sans-serif;
  color: rgb(96, 96, 96);
}
.product-border{
  border-bottom: 1px solid rgb(83, 83, 83);
  width: 260px;
  padding: 5px;
}
.product-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0px 20px 0px 10px;
}
.product-price-1{
  font-size: 20px;
  font-family: monospace;
  font-weight: 900;
}
.product-cart-button{
  border: 1px solid;
  padding: 10px 15px 10px 15px;
  color: white;
  font-size: 18px;
  background-color: #BF0D12;
  border-radius: 7px;
}