.recommended-flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  .recommended-title {
    font-family: "PT Mono", monospace;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
  }